$white: #ffffff;
$black: #000000;
$accent: #ffc700;
$interactive: #3BDE7C;
$bg-header: #181818;
$bg-images: #272727;

$spacing-s: calc(1em / 100 * 3);
$spacing-m: calc(1em / 100 * 5);
$spacing-l: calc(1em / 100 * 8);
$spacing-xl: calc(1em / 100 * 10);