$white: #ffffff;
$black: #000000;
$accent: #ffc700;
$interactive: #3BDE7C;
$interactive-default: #949497;
$bg-header: #181818;
$bg-images: #272727;
$bg-layer: rgba(13, 12, 17, 0.728);
$box-text: #1c2741;
$btn-text-disabled:#8e8e8e;
$btn-bg-disabled:#dadada;

$spacing-s: calc(1em / 100 * 3);
$spacing-m: calc(1em / 100 * 5);
$spacing-l: calc(1em / 100 * 8);
$spacing-xl: calc(1em / 100 * 10);